    .header {
        background: lightyellow;
        height: 200px;
        padding-left: 40px;
    }
    
    #formulario {
        width: 400px;
    }
    
    header,
    h1 {
        font-size: 80px;
        border: 1px solid red;
    }
    
    body {
        background: lightgrey;
    }