    .header {
        background: lightyellow;
        height: 180px;
    }
    
    #formulario {
        padding-top: 50px;
        /* padding-bottom: 50px;*/
    }
    
    #resultado {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #selecao {
        width: 600px;
    }
    
    h1 {
        font-size: 60px;
        padding-top: 30px;
    }
    
    body {
        overflow-y: unset;
    }