    .header {
        background: lightyellow;
        height: 200px;
    }
    /*
    #formulario {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    */
    
    #resultado {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    h1 {
        font-size: 70px;
        border: 1px solid red;
    }
    
    body {
        background: lightgrey;
    }